.page {
  margin: auto;
}

.pageHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 18px;
  margin-bottom: 18px;
}

.pageHeader > h2 {
  font-weight: 400;
}

.articleLink {
  text-decoration: none;
  color: inherit;
  display: block;
  animation: fadeIn 0.2s ease;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}