@import '../theme.css';

.container {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 30px;
  position: relative;
  text-decoration: none;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  display: block;
  outline: none;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.03);
  border: 1px solid var(--borderColor);
  margin-bottom: 25px;
  max-height: 160px;
  cursor: pointer;
}

.container::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 35px;
  width: 100%;
  left: 0;
  right: 0;
  background: linear-gradient( to bottom, rgba(255, 255, 255, 0), #ffffff );
}

.container:hover {
  border: 1px solid var(--primaryColor);
}

.title {
  font-size: 16px;
  border-bottom: 1px solid var(--borderColor);
  padding-bottom: 18px;
}

.description {
  padding-top: 18px;
  color: var(--lightTextColor);
}