@import '../theme.css';

.paginator {
  width: 180px;
  padding: 18px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.paginator > a {
  width: 34px;
  height: 34px;
  text-decoration: none;
  text-align: center;
  border-radius: 20px;
  color: var(--lightTextColor);
  padding: 3px;
  box-sizing: border-box;
}

.paginator > a:last-child {
  border-right: none;
}

.paginator > a.selected {
  color: #ffffff;
  font-weight: 600;
  background-color: var(--primaryColor);
}

.hidden {
  visibility: hidden;
}
